.small {
    width: 10px;
}

.additional-info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.left-side {
    align-self: flex-start;
    margin-bottom: 10px;;
}